In [1]:
## get dependencies
# Dependencies
import pandas as pd
import numpy as np
import json
import requests
from config import api_key
from config import g_key
from citipy import citipy
print(api_key)

9d1bc9c17541af5da45aa33626c8a950

In [2]:
## install citipy (only required once)
#pip install citipy

# I tried for some time to get a large sample of cities to query using citipy. The most I could get was ~150.
# Therefore, I ended up downloading all cities that openweather tracks (~22,000), and then just sampled 500 of them
# using df.sample(n=500)

In [3]:
## I downloaded the json file from openweather, and then created a dataframe from it:
cityList = pd.read_json("current.city.list.json")
len(cityList)

22635

In [4]:
## Randomly sample 500 cities from the json file:
sampleCity = cityList.sample(n=500)
len(sampleCity)

500

In [5]:
names = list(sampleCity.columns) 
countryNames = sampleCity['country']
cityNames = sampleCity['name']

In [7]:
cityData = {'City': cityNames, 'Country': countryNames}
cityWeather = pd.DataFrame(data=cityData)
cityWeather.reset_index(drop=True, inplace=True)
cityWeather.head()

          City Country
0    Poperinge      BE
1        Bibai      JP
2  Akhaltsikhe      GE
3  Eloi Mendes      BR
4       Maicao      CO

In [8]:
## append desired weather parameters as new series to city dataframe
cityWeather['Temperature'] = ""
cityWeather['Humidity'] = ""
cityWeather['Cloudiness'] = ""
cityWeather['Wind Speed'] = ""
cityWeather['Latitude'] = ""
cityWeather['Longitude'] = ""
cityWeather.head()

,City,Country,Temperature,Humidity,Cloudiness,Wind Speed,Latitude,Longitude
0,Poperinge,BE,,,,,,
1,Bibai,JP,,,,,,
2,Akhaltsikhe,GE,,,,,,
3,Eloi Mendes,BR,,,,,,
4,Maicao,CO,,,,,,

In [9]:
## define the location of the weather api (remember: the ?q means that you can insert a variable)
weather_url = "http://api.openweathermap.org/data/2.5/weather?"
#weather_url = "http://api.openweathermap.org/data/2.5/weather?"           

# define desired weather units
units = 'imperial'

In [10]:
record = 0
for index, row in cityWeather.iterrows():
    theCity = row['City']
    theCountry = row['Country']
    query_url = weather_url + "appid=" + api_key + '&units=' + units + "&q=" + theCity + ',' + theCountry
    try:
        weather_response = requests.get(query_url)
        weather_json = weather_response.json()
        latitude = weather_json["coord"]["lat"]
        longitude = weather_json["coord"]["lon"]
        temp = weather_json["main"]["temp"]
        humidity = weather_json["main"]["humidity"]
        cloud = weather_json["clouds"]["all"]
        wind = weather_json["wind"]["speed"]
        cityWeather.loc[index,"Temperature"] = temp
        cityWeather.loc[index, "Humidity"]= humidity
        cityWeather.loc[index, "Wind Speed"] = wind
        cityWeather.loc[index, "Cloudiness"] = cloud
        cityWeather.loc[index,"Latitude"] = latitude
        cityWeather.loc[index, "Longitude"] =longitude
        print(query_url)
    except:
        print('error')
    record += 1

In [11]:
cityWeather.head()

,City,Country,Temperature,Humidity,Cloudiness,Wind Speed,Latitude,Longitude,Real Latitude,Real Longitude
0,Poperinge,BE,60.51,90,6,7.72,,,50.85,2.69
1,Bibai,JP,57.76,93,40,3.36,,,43.32,141.86
2,Akhaltsikhe,GE,55.08,74,35,0.51,,,41.64,42.98
3,Eloi Mendes,BR,68.04,69,90,7.49,,,-21.61,-45.57
4,Maicao,CO,88.45,60,98,6.49,,,11.38,-72.24

In [ ]:
cityWeather.to_csv('cityWeatherData.csv')