In [1]:
## Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

## Import API key
from api_keys import g_key

In [2]:
## configure the gmaps key
gmaps.configure(api_key=g_key)

In [3]:
## load up cityWeather from Part 1
cityWeather = pd.read_csv('../WeatherPy/cityWeatherData.csv')

# I had an additional column - I deleted it:
del cityWeather['Unnamed: 0']

# here's what it looks like:
cityWeather.head()

,City,Country,Temperature,Humidity,Cloudiness,Wind Speed,Latitude,Longitude
0,Nuevo Mexico,MX,76.37,53,75,3.36,20.75,-103.43
1,Kurganinsk,RU,57.38,47,0,3.74,44.88,40.60
2,Lishu,CN,47.68,93,100,2.77,43.30,124.33
3,Lembeni,TZ,66.24,76,39,6.35,-3.78,37.62
4,Bacabal,BR,94.59,39,84,3.76,-4.29,-44.79

In [4]:
## Get lat & long for every location (these will be used to make the location-specific, humidity heatmap)
locations = cityWeather[["Latitude", "Longitude"]]

# collect the corresponding humidities
hums = cityWeather.Humidity.values

In [5]:
## Make map figure
fig = gmaps.figure()

# show the fig w/o the heat map layer
# looks like gmaps just makes a random map. Once you specify locations below, then the map expands to include all locations
#fig

In [6]:
## Create heat layer that corresponds to humidity
heat_layer = gmaps.heatmap_layer(locations, weights=hums, dissipating=False, max_intensity=100, point_radius=2)

# Add the humidity heat layer to the fig
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
## Save figure
plt.savefig("Humidity Heat Map")

In [8]:
## check out cityWeather df for remaining challenges
cityWeather.head()

,City,Country,Temperature,Humidity,Cloudiness,Wind Speed,Latitude,Longitude
0,Nuevo Mexico,MX,76.37,53,75,3.36,20.75,-103.43
1,Kurganinsk,RU,57.38,47,0,3.74,44.88,40.60
2,Lishu,CN,47.68,93,100,2.77,43.30,124.33
3,Lembeni,TZ,66.24,76,39,6.35,-3.78,37.62
4,Bacabal,BR,94.59,39,84,3.76,-4.29,-44.79

In [93]:
## filter out cities with less-than-ideal temps (i.e. <70 and >80)
idealTemps = cityWeather[(cityWeather.Temperature>70) & (cityWeather.Temperature <80)]
idealTemps.shape

(148, 8)

In [94]:
## filter out windy cities (i.e. wind > 10)
lowWinds = idealTemps[idealTemps['Wind Speed']<10]
lowWinds.shape

(126, 8)

In [95]:
## filter out any city with cloudiness greater than 0
theIdeals = lowWinds[lowWinds.Cloudiness <=0]
theIdeals.shape

(22, 8)

In [96]:
## just testing if I can do this in a single line...looks like it.
theIdeals2 = cityWeather[(cityWeather.Temperature>70) & (cityWeather.Temperature <80) & (cityWeather['Wind Speed']<10) & \
                       (cityWeather.Cloudiness <=0)]
theIdeals2.head()

,City,Country,Temperature,Humidity,Cloudiness,Wind Speed,Latitude,Longitude
17,Itogon,PH,71.74,79,0,5.21,16.32,120.73
21,Guiset East,PH,75.52,82,0,3.96,16.07,120.68
25,Cosenza,IT,72.72,94,0,2.24,39.31,16.25
38,Petauke,ZM,74.61,27,0,9.91,-14.24,31.33
61,Vigan,PH,78.19,81,0,4.79,17.57,120.39

In [97]:
# find the closest restaurant of each type to coordinates
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "rankby": "distance",
    "type": "lodging",
    "key": g_key,
}
params

{'rankby': 'distance',
 'type': 'lodging',
 'key': 'AIzaSyAvRuKgD7-ehojwGv-f7Ef6XeLWbvTl6xM'}

In [98]:
## types you can search for (useful)
#  https://developers.google.com/places/web-service/supported_types

In [99]:
# use iterrows to iterate through pandas dataframe
#theIdeals = theIdeals.tail(1)
for index, row in theIdeals.iterrows():

    # get location data from theIdeals df
    theCity = row['City']
    theLat = row["Latitude"] 
    theLong = row['Longitude']
    
    # add keyword to params dict
    params['location'] = f'{theLat}, {theLong}'

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {theCity}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    try:
        print(f"Closest hotel is {results[0]['name']}.")
        
        theIdeals.loc[index, 'Hotel Name'] = results[0]['name']
        theIdeals.loc[index, 'Hotel Type'] = results[0]['types'][0]
        theIdeals.loc[index, 'Hotel Rating'] = results[0]['rating']
    
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for Index 17: Itogon.
Closest hotel is COSARAN JUNCTION.
Missing field/result... skipping.
------------
Retrieving Results for Index 21: Guiset East.

C:\Users\markb\anaconda3\lib\site-packages\pandas\core\indexing.py:845: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\markb\anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

Closest hotel is A&E Spring Resort.
------------
Retrieving Results for Index 25: Cosenza.
Closest hotel is Casa Adele.
Missing field/result... skipping.
------------
Retrieving Results for Index 38: Petauke.
Closest hotel is Newline Lodge.
Missing field/result... skipping.
------------
Retrieving Results for Index 61: Vigan.
Closest hotel is El Juliana Hotel.
------------
Retrieving Results for Index 67: Tehran.
Closest hotel is چاپ ایده.
Missing field/result... skipping.
------------
Retrieving Results for Index 69: Paonta Sahib.
Closest hotel is Sun view cottage.
------------
Retrieving Results for Index 81: Qiryat Gat.
Closest hotel is שדרות גת 88 קרית גת.
Missing field/result... skipping.
------------
Retrieving Results for Index 85: Machhiwara.
Closest hotel is Kang Niwas.
------------
Retrieving Results for Index 91: Zhob.
Closest hotel is Cooperative office zhob.
Missing field/result... skipping.
------------
Retrieving Results for Index 128: Nazare.
Closest hotel is Pousada da Fonte.
------------
Retrieving Results for Index 156: Hirista.
Closest hotel is Alzaarora cimetary مقبرة الزعرورة.
Missing field/result... skipping.
------------
Retrieving Results for Index 189: Senlis.
Closest hotel is Les logements "Prêt-à-Vivre" de Brasseuse by TEYO.
Missing field/result... skipping.
------------
Retrieving Results for Index 229: Mansa.
Closest hotel is Grand Star Hotel.
------------
Retrieving Results for Index 249: Kuito.
Closest hotel is Herdeiros de Antunes Capusso.
Missing field/result... skipping.
------------
Retrieving Results for Index 252: Dayr az Zawr.
Closest hotel is Ziyad Hotel.
------------
Retrieving Results for Index 253: Chalinze.
Closest hotel is REMBO GUEST HOUSE.
------------
Retrieving Results for Index 319: Talwara.
Closest hotel is BBMB Rest House.
------------
Retrieving Results for Index 339: Downers Grove.
Closest hotel is Sybaris Downers Grove.
------------
Retrieving Results for Index 348: Sair.
Closest hotel is Abu Mazen Hotel.
------------
Retrieving Results for Index 406: Kharar.
Closest hotel is Gillco Budget Homes.
Missing field/result... skipping.
------------
Retrieving Results for Index 418: Kaithal.
Closest hotel is Star Builders.
------------

In [100]:
## for some reason, a few of the identified establishments were not hotels. Filter them out:
idealHotels = theIdeals[theIdeals['Hotel Type']=='lodging']
idealHotels.head(30)

,City,Country,Temperature,Humidity,Cloudiness,Wind Speed,Latitude,Longitude,Hotel Name,Hotel Type,Hotel Rating
17,Itogon,PH,71.74,79,0,5.21,16.32,120.73,COSARAN JUNCTION,lodging,NaN
21,Guiset East,PH,75.52,82,0,3.96,16.07,120.68,A&E Spring Resort,lodging,3.2
25,Cosenza,IT,72.72,94,0,2.24,39.31,16.25,Casa Adele,lodging,NaN
38,Petauke,ZM,74.61,27,0,9.91,-14.24,31.33,Newline Lodge,lodging,NaN
61,Vigan,PH,78.19,81,0,4.79,17.57,120.39,El Juliana Hotel,lodging,3.7
67,Tehran,IR,75.29,20,0,4.70,35.69,51.42,چاپ ایده,lodging,NaN
69,Paonta Sahib,IN,79.29,56,0,5.08,30.45,77.62,Sun view cottage,lodging,1.0
81,Qiryat Gat,IL,78.39,75,0,6.60,31.61,34.76,שדרות גת 88 קרית גת,lodging,NaN
85,Machhiwara,IN,77.13,46,0,4.74,30.91,76.20,Kang Niwas,lodging,3.5
91,Zhob,PK,76.08,17,0,3.36,31.34,69.45,Cooperative office zhob,lodging,NaN
128,Nazare,BR,77.05,74,0,6.44,-13.04,-39.01,Pousada da Fonte,lodging,4.5
156,Hirista,SY,74.91,31,0,3.91,33.56,36.36,Alzaarora cimetary مقبرة الزعرورة,lodging,NaN
189,Senlis,FR,72.75,53,0,6.93,49.25,2.67,"Les logements ""Prêt-à-Vivre"" de Brasseuse by TEYO",lodging,NaN
229,Mansa,IN,78.28,38,0,2.91,29.98,75.38,Grand Star Hotel,lodging,3.7
249,Kuito,AO,70.57,49,0,4.70,-12.38,16.93,Herdeiros de Antunes Capusso,lodging,NaN
252,Dayr az Zawr,SY,79.50,25,0,4.36,35.34,40.14,Ziyad Hotel,lodging,4.0
253,Chalinze,TZ,70.39,82,0,2.86,-6.64,38.35,REMBO GUEST HOUSE,lodging,3.1
319,Talwara,IN,76.59,53,0,5.28,31.95,75.87,BBMB Rest House,lodging,3.9
348,Sair,PS,73.00,59,0,1.01,31.58,35.14,Abu Mazen Hotel,lodging,4.1
406,Kharar,IN,77.09,54,0,3.96,30.74,76.65,Gillco Budget Homes,lodging,NaN

In [83]:
markerLocations = idealHotels[["Latitude", "Longitude"]]
markers = gmaps.marker_layer(markerLocations)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))

In [107]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in idealHotels.iterrows()]
locations = idealHotels[["Latitude", "Longitude"]]

In [108]:
markerLayer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(markerLayer)
fig

Figure(layout=FigureLayout(height='420px'))